@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inconsolata&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://use.typekit.net/fcy2fbm.css");

// font-family: 'Courier Prime', monospace;
// font-family: 'Inconsolata', monospace;
// font-family: 'Source Code Pro', monospace; --> + lighter 300 weight

// font-family: courier-std, monospace;
// font-weight: 400;
// font-style: normal;

// OPTIONS:
// font-style: normal; -> normal
// font-style: italic; -> italic
// font-weight: 700; -> bold

$main-font-size: 18px;
$main-text-width: 723px;

$background-color: #080808;
$text-color: #f0efef;
$pink: #e225e5;
$red: #c90d0d;
$yellow: #ffd84d;
$blue: #57a4ff;
$green: #0dc941;

* {
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: $main-font-size;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inconsolata", courier-std, Courier, monospace; /* Alternative: "Inconsolata" */
  background-color: $background-color;
  color: $text-color;
  font-size: $main-font-size;

  margin: {
    left: 280px;
    right: 280px;
    top: 200px;
    bottom: 40px;
  }
}

.projects {
  h2 {
    padding-top: 18px;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  max-width: $main-text-width;
}

nav a {
  margin-right: 77px;
}

a {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;

  // Add arrow after external links
  &[target="_blank"]::after {
    display: inline-block;
    content: "";
    mask-size: contain;
    background-color: currentColor;
    mask: url(images/right-up-arrow.svg) no-repeat 50% 50%;
    margin: -0.3em -0.2em -0.25em 0.05em;
    width: 1.1em;
    height: 1.1em;
  }
}

img {
  max-width: 100%;
}

.large-block-space {
  margin-bottom: 62px;
}

.medium-block-space {
  margin-bottom: 40px;
}

.small-block-space {
  margin-bottom: 18px;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.highlight {
  // Dark mode:
  // background-color: #ffe69a;
  // Light mode:
  // background-color: red;
}

.hidden {
  display: none;
}
