@import "library";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inconsolata&family=Prosto+One&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://use.typekit.net/fcy2fbm.css");

// font-family: 'Courier Prime', monospace;
// font-family: 'Inconsolata', monospace;
// font-family: 'Source Code Pro', monospace; --> + lighter 300 weight

// font-family: courier-std, monospace;
// font-weight: 400;
// font-style: normal;

// OPTIONS:
// font-style: normal; -> normal
// font-style: italic; -> italic
// font-weight: 700; -> bold

* {
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: $main-font-size;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: courier-std, Courier, monospace; // Alternative: "Inconsolata"
  background-color: $background-color;
  color: $text-color;
  font-size: $main-font-size;

  margin: {
    left: 280px;
    right: 280px;
    top: 200px;
    bottom: $medium-space;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 22px;
  row-gap: $medium-space;
  align-items: end;

  h2 {
    padding-top: 18px;

    .project-subtitle {
      // font-family: courier-std, Courier, monospace;
      font-style: italic;
      // font-size: 17px;
    }
  }

  img {
    width: 100%;
  }
}

// For reset (if needed)
// ul {
//   padding: 0;
//   list-style-type: none;
// }

p {
  max-width: $main-text-width;
  line-height: 1.2em;
}

img {
  max-width: 100%;
}

/* LINKS */
nav a {
  margin-right: 77px;
}

a {
  text-decoration: none;

  // Add arrow after external links
  &[target="_blank"]::after {
    display: inline-block;
    content: "";
    mask-size: contain;
    background-color: currentColor;
    mask: url(../images/right-up-arrow.svg) no-repeat 50% 50%;
    margin: -0.3em -0.2em -0.25em 0.05em;
    width: 1.1em;
    height: 1.1em;
  }
}

footer a {
  display: inline-block;
  margin-bottom: $small-space;
  text-decoration: none;

  // alternative (doesn't work for IE):
  // display: block;
  // width: max-content;
}

a:hover,
.selected,
.back {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}

.star {
  // position: fixed;
  position: absolute;

  z-index: -1;
  font-family: "Prosto One", "Inconsolata", courier-std, Courier;
  font-size: 32px;
}

/* SPACING & ACCENTS */
.large-block-space {
  margin-bottom: $large-space;
}

.medium-block-space {
  margin-bottom: $medium-space;
}

.small-block-space {
  margin-bottom: $small-space;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

//.highlight {
// Dark mode:
// background-color: #ffe69a;
// Light mode:
// background-color: red;
//}

/* PROJECT SORTING */
.hidden {
  display: none;
}

// .back {
//   color: $pink;
//   text-decoration: underline;
//   text-decoration-style: wavy;
// }
