@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inconsolata&family=Prosto+One&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://use.typekit.net/fcy2fbm.css");
* {
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: courier-std, Courier, monospace;
  color: #f0efef;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 200px;
  margin-bottom: 40px;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  row-gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.projects-container h2 {
  padding-top: 18px;
}

.projects-container h2 .project-subtitle {
  font-style: italic;
}

.projects-container img {
  width: 100%;
}

p {
  max-width: 723px;
  line-height: 1.2em;
}

img {
  max-width: 100%;
}

/* LINKS */
nav a {
  margin-right: 77px;
}

a {
  text-decoration: none;
}

a[target="_blank"]::after {
  display: inline-block;
  content: "";
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: currentColor;
  -webkit-mask: url(../images/right-up-arrow.svg) no-repeat 50% 50%;
          mask: url(../images/right-up-arrow.svg) no-repeat 50% 50%;
  margin: -0.3em -0.2em -0.25em 0.05em;
  width: 1.1em;
  height: 1.1em;
}

footer a {
  display: inline-block;
  margin-bottom: 18px;
  text-decoration: none;
}

a:hover,
a:focus,
.selected,
.back {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}

.star {
  position: absolute;
  z-index: -1;
  font-family: "Prosto One", "Inconsolata", courier-std, Courier;
  font-size: 32px;
}

/* SPACING & ACCENTS */
.large-block-space {
  margin-bottom: 62px;
}

.medium-block-space {
  margin-bottom: 40px;
}

.small-block-space {
  margin-bottom: 18px;
}

.pink {
  color: #e225e5;
}

.red {
  color: #c90d0d;
}

.yellow {
  color: #ffd84d;
}

.green {
  color: #0dc941;
}

.blue {
  color: #57a4ff;
}

/* PROJECT SORTING */
.hidden {
  display: none;
}

@media only screen and (max-width: 1280px) {
  * {
    font-size: 16px;
  }
  p {
    line-height: 1.4em;
  }
  body {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 16%;
  }
  .projects-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projects-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 52px;
  }
  nav a {
    margin-right: 42px;
  }
}

@media only screen and (max-width: 580px) {
  body {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 64px;
    margin-bottom: 40px;
  }
  .star {
    display: none;
  }
  .large-block-space {
    margin-bottom: 46px;
  }
}
/*# sourceMappingURL=index.css.map */