h1,
h2 {
  margin-top: 62px;
  font-size: 24px;
}

h2 {
  margin-bottom: 40px;
}

.project-subtitle {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 62px;
}

.project-subtitle-no-space {
  font-style: italic;
  margin-top: 10px;
}

.main-image {
  max-width: 724px;
  width: 100%;
  margin-bottom: 62px;
}

.project-link {
  font-size: 24px;
}

.project-link a {
  white-space: nowrap;
  font-size: 20px;
}

body {
  margin-top: 118px;
  padding-bottom: 40px;
}

.gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  row-gap: 22px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.gallery-container img {
  width: 100%;
  height: auto;
}

.gallery-container.grid-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gi-full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

ul {
  margin-left: 1em;
}

li {
  padding-left: 1em;
  margin-bottom: 0.6em;
}

/*========== MODAL ==========*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .slide {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
}

.modal img {
  display: block;
  max-height: 100%;
  padding: 3% 70px;
  -webkit-transition: padding 1s ease-in-out;
  transition: padding 1s ease-in-out;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-weight: bold;
  font-size: 60px;
  z-index: 2;
  -webkit-transition: top 1s ease-in-out, right 1s ease-in-out;
  transition: top 1s ease-in-out, right 1s ease-in-out;
}

.modal .close:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.slide {
  display: none;
}

.zoomable {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.zoomable:hover,
.zoomable:active,
.zoomable:focus {
  -webkit-transform: scale(1.022);
          transform: scale(1.022);
}

.left-arrow,
.right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 20px;
}

.left-arrow *,
.right-arrow * {
  font-size: 40px;
}

.left-arrow:hover,
.right-arrow:hover {
  cursor: pointer;
}

.left-arrow:hover span,
.right-arrow:hover span {
  color: rgba(255, 255, 255, 0.5);
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

button {
  background-color: transparent;
}

@media only screen and (max-width: 1400px) {
  .modal .close {
    top: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .gallery-container {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .gallery-container.grid-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 580px) {
  body {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 64px;
    margin-bottom: 40px;
  }
  .gallery-container {
    -webkit-column-gap: 12px;
            column-gap: 12px;
    row-gap: 12px;
  }
  .modal img {
    display: block;
    max-height: auto;
    max-width: 100%;
    padding: 0;
  }
}
/*# sourceMappingURL=project.css.map */