@import "library";

h1,
h2 {
  margin-top: $large-space;
  font-size: $large-font-size;
}

h2 {
  margin-bottom: $medium-space;
}

// *:focus {
//   border: 2px dashed $text-color;
//   padding: 2px 4px;
//   text-decoration: none !important;
// }

.project-subtitle {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: $large-space;
  line-height: 1.3em;
}

.project-subtitle-no-space {
  font-style: italic;
  margin-top: 10px;
  line-height: 1.3em;
}

.main-image {
  max-width: 724px; // 872px; or //724px
  width: 100%;
  margin-bottom: $large-space;
}

.project-link {
  font-size: 24px;
  a {
    white-space: nowrap; // Fix ::after arrow wrapping to new line
    font-size: 20px; // inherit if want same size
  }
}

body {
  margin-top: 118px; //180 - large space (62) = 118px -> if I want the back button higher, but the heading to be at same height
  padding-bottom: $medium-space;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 22px;
  row-gap: 22px;
  align-items: start;

  img {
    width: 100%;
    height: auto;
  }

  &.grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  &.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &.custom-grid-storylines {
    // Uses images' aspect ratios (width/height)
    grid-template-columns: 1.33333333333fr 0.56443148688fr 0.62436868686fr 0.62672811059fr 1fr;

    img {
      display: block; // Remove unnecessary white space at bottom
    }
  }

  &.custom-grid-interplay {
    grid-template-columns: 1.78021978022fr 0.56172839506fr 1.77777777778fr;

    img {
      display: block;
    }
  }

  &.custom-grid-david-1 {
    grid-template-columns: 1.39180862631fr 1.47862918752fr;

    img {
      display: block;
    }
  }

  &.custom-grid-david-2 {
    grid-template-columns: 3.6fr 1.33349168646fr;

    img {
      display: block;
    }
  }

  &.custom-grid-david-3 {
    grid-template-columns: 0.56221889055fr 1.51838671412fr 0.56221889055fr;

    img {
      display: block;
    }
  }
}

// Grid item with full width
.gi-full {
  grid-column: 1 / 4;
}

.padded-row {
  margin-bottom: 22px;
}

ul {
  margin-left: 1em;
}

li {
  padding-left: 1em;
  margin-bottom: 0.6em;
}

video {
  object-fit: cover;
}

/*========== MODAL ==========*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  // overflow: auto;

  align-items: center;
  justify-content: center;
  // justify-content: space-between;

  flex-direction: column;

  .slide {
    display: none;
    justify-content: center;
    align-items: center;

    max-height: 100vh;
  }

  .slide.vertical {
    align-items: start;
    overflow: scroll;

    img {
      max-height: none;
      max-width: 100%;
      padding: 0;
    }
  }

  img {
    display: block; // Removes gap below image (for descenders)
    max-height: 100%;
    // max-height: auto;

    padding: 3% 70px;

    transition: padding 1s ease-in-out;
  }

  //TODO: Replace text "x" with svg
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    // Medium size:
    // top: 30px;
    // right: 46px;

    font-weight: bold;
    font-size: 60px;
    z-index: 2;

    transition: top 1s ease-in-out, right 1s ease-in-out;

    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.slide {
  display: none;
}

.zoomable {
  cursor: zoom-in;
  transition: transform 0.2s ease-in-out;

  img {
    display: block; // Remove unnecessary white space at bottom
  }
}

.zoomable:hover,
.zoomable:active,
.zoomable:focus {
  transform: scale(1.022);
}

.main-image.zoomable:hover,
.main-image.zoomable:active,
.main-image.zoomable:focus {
  transform: scale(1.011);
}

.left-arrow,
.right-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  height: 100%;
  align-self: stretch;
  padding: 20px;
  // background-color: rgba(0, 0, 0, 0.25);

  * {
    font-size: 40px;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover span {
    color: rgba(255, 255, 255, 0.5);
  }
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

button {
  background-color: transparent;
}

@media only screen and (max-width: 1400px) {
  .modal {
    .close {
      top: 20px;
      right: 20px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .gallery-container {
    column-gap: 16px;
    row-gap: 16px;
  }

  .padded-row {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .gallery-container.grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 580px) {
  body {
    margin: {
      left: 45px;
      right: 45px;
      top: 64px;
      bottom: $medium-space;
    }
  }

  .gallery-container {
    column-gap: 12px;
    row-gap: 12px;
  }

  .modal {
    img {
      display: block; // Removes gap below image (for descenders)
      // max-height: 100%;
      max-height: auto;
      max-width: 100%;
      // max-height: auto;

      padding: 0;
    }
  }
}
