@import "library";

h1,
h2 {
  margin-top: $large-space;
  font-size: $large-font-size;
}

h2 {
  margin-bottom: $medium-space;
}

// *:focus {
//   border: 2px dashed $text-color;
//   padding: 2px 4px;
//   text-decoration: none !important;
// }

.project-subtitle {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: $large-space;
}

.main-image {
  max-width: 724px; // 872px; or //724px
  width: 100%;
  margin-bottom: $large-space;
}

.project-link {
  font-size: 24px;
  a {
    white-space: nowrap; // Fix ::after arrow wrapping to new line
  }
}

body {
  margin-top: 118px; //180 - large space (62) = 118px -> if I want the back button higher, but the heading to be at same height
  padding-bottom: $medium-space;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 22px;
  row-gap: 22px;
  align-items: end;

  img {
    width: 100%;
    height: auto;
  }
}

/*========== MODAL ==========*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  // overflow: auto;

  align-items: center;
  justify-content: center;
  // justify-content: space-between;

  flex-direction: column;

  .slide {
    display: none;
    justify-content: center;
    align-items: center;

    max-height: 100vh;
  }

  img {
    display: block; // Remove gap below image (for descenders)
    max-height: 100%;
    // max-height: auto;

    padding: 3% 70px;
  }

  //TODO: Replace text "x" with svg
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    // Medium size:
    // top: 30px;
    // right: 46px;

    font-weight: bold;
    font-size: 60px;
    z-index: 2;

    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.slide {
  display: none;
}

.zoomable {
  cursor: zoom-in;
}

.left-arrow,
.right-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  height: 100%;
  align-self: stretch;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);

  * {
    font-size: 40px;
  }
}

.left-arrow:hover,
.right-arrow:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

button {
  background-color: transparent;
}
